* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v12_41 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_47 {
  width: 568px;
  height: 900px;
  background: url("../images/v12_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_49 {
  width: 876px;
  height: 900px;
  background: rgba(196,196,196,0.009999999776482582);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 564px;
  overflow: hidden;
}
.v12_84 {
  width: 711px;
  height: 645px;
  background: url("../images/v12_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 647px;
  overflow: hidden;
}
.v12_85 {
  width: 281px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 430px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_86 {
  width: 70px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 222px;
  left: 431px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_122 {
  width: 710px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_121 {
  width: 461px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 504px;
  left: 1px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_118 {
  width: 710px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_120 {
  width: 554px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 429px;
  left: 1px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_119 {
  width: 710px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_117 {
  width: 648px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 359px;
  left: 1px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_87 {
  width: 280px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_88 {
  width: 33px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 216px;
  left: 1px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_93 {
  width: 282px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 429px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_94 {
  width: 96px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 154px;
  left: 430px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_95 {
  width: 280px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_96 {
  width: 65px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 152px;
  left: 1px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_97 {
  width: 282px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 429px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_98 {
  width: 122px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 80px;
  left: 428px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_101 {
  width: 280px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_102 {
  width: 88px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_103 {
  width: 281px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 430px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_104 {
  width: 85px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 2px;
  left: 430px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_107 {
  width: 280px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_108 {
  width: 44px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 78px;
  left: 1px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_109 {
  width: 280px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_110 {
  width: 147px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 290px;
  left: 1px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_113 {
  width: 303px;
  height: 52px;
  background: url("../images/v12_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 593px;
  left: 209px;
  overflow: hidden;
}
.v12_114 {
  width: 303px;
  height: 52px;
  background: rgba(55,109,75,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v12_115 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 110px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v12_82 {
  width: 290px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 73px;
  left: 857px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
