* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v11_17 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v240_0 {
  width: 100%;
  height: 902px;
  background: url("../images/v240_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_36 {
  width: 100%;
  height: 902px;
  background: url("../images/v12_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_3 {
  width: 876px;
  height: 900px;
  background: rgba(196,196,196,0.009999999776482582);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 564px;
  overflow: hidden;
}
.v12_2 {
  width: 307px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 89px;
  left: 849px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v12_35 {
  width: 695px;
  height: 582px;
  background: url("../images/v12_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 583px;
  overflow: hidden;
}
.v12_32 {
  width: 281px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 414px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_17 {
  width: 70px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 361px;
  left: 415px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_31 {
  width: 282px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_16 {
  width: 33px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 354px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_34 {
  width: 281px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 457px;
  left: 414px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_15 {
  width: 282px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 431px;
  left: 413px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_28 {
  width: 281px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 414px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_13 {
  width: 78px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 225px;
  left: 414px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_30 {
  width: 282px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 413px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_12 {
  width: 96px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 293px;
  left: 414px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_29 {
  width: 282px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_11 {
  width: 65px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 290px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_26 {
  width: 281px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 414px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_10 {
  width: 122px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 155px;
  left: 413px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_25 {
  width: 282px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_8 {
  width: 166px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 152px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_18 {
  width: 282px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_4 {
  width: 88px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_20 {
  width: 281px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 414px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_5 {
  width: 85px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 3px;
  left: 414px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_21 {
  width: 282px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_6 {
  width: 104px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 78px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_27 {
  width: 282px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_9 {
  width: 44px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 222px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_33 {
  width: 282px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 457px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_14 {
  width: 208px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 428px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_22 {
  width: 281px;
  height: 28px;
  background: rgba(55,109,75,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 414px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v12_7 {
  width: 60px;
  color: rgba(55,109,75,1);
  position: absolute;
  top: 77px;
  left: 414px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v12_38 {
  width: 303px;
  height: 52px;
  background: url("../images/v12_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 530px;
  left: 208px;
  overflow: hidden;
}
.v12_39 {
  width: 303px;
  height: 52px;
  background: rgba(55,109,75,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v12_40 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 64px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v12_1 {
  width: 598px;
  height: 902px;
  background: url("../images/v12_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
