.navbar-nav li{
    padding-right: 50px;
    margin-right: 50px;
}

.navbar-nav li:hover{
    opacity: 75%;
}

.nav-link {
    font-size: 18px;
    color: #376D4B;
}

.navbar-brand {
    color: #376D4B;
    font-size: 28px;
}


