* {
margin: 0;
padding: 0;
}

body{
    font-family: -apple-system, system-ui, Blink<acSystemFont, "Helvetica", "Segoe UI", Roboto, Ubuntu;
    font-size: 16px;
    line-height: 1.4em;
    background: #(background);
}

h1 {
    padding: #(padding);
    color: green;
    
}

@media (max-width: 599px){}
@media (max-width: 600px){}
@media (max-width: 900px){}
@media (max-width: 1200px){}
@media (max-width: 1800px){}


