body {
    margin: 0;
    padding: 0;
    background: #fff;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 340px;
    height: 380px;
    background: rgb(183, 224, 155);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 28px;
    color: #376D4B;

}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #376D4B;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type = "text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
}
